# Load TSV into DataFrame and explore the data

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join('..', 'data', '1743_LeRobert', 'Trevoux1743_domPred.tsv'), sep='\t')
df.head(10)

,volume,entry,entry_lemma,subordinate,subordinate_lemma,subordinate_domain,content,domainPred1,domainProba1,domainPred2,domainProba2,domainPred3,domainProba3
0,1,250000010,A,1,NaN,NaN,A est la première Lettre de l'Alphabet Françoi...,Religion,0.540936,Belles-lettres,0.341978,Philosophie,0.042602
1,1,250000010,A,2,NaN,NaN,C'est inutilement que la plupart des Grammairi...,Philosophie,0.538949,Belles-lettres,0.371690,Religion,0.027383
2,1,250000010,A,3,NaN,NaN,"A se prononce du gozier, ce qui ne rend pas ce...",Philosophie,0.975242,Belles-lettres,0.005087,Médecine,0.003654
3,1,250000010,A,4,NaN,NaN,Le son de l'a est ordinairement un son clair. ...,Philosophie,0.912985,Belles-lettres,0.023113,Musique,0.019635
4,1,250000010,A,5,NaN,NaN,Le son de l'a est un de ceux que les muets for...,Médecine,0.744529,Métiers,0.162147,Musique,0.029677
5,1,250000010,A,6,NaN,NaN,"A devant un e, avec lequel il fait une diphton...",Physique,0.975557,Médecine,0.005404,Géographie,0.003895
6,1,250000010,A,7,NaN,NaN,"A devant un i, ou devant un y, avec lequel il ...",Philosophie,0.885065,Belles-lettres,0.080897,Musique,0.011698
7,1,250000010,A,8,NaN,NaN,A devant o & ne faisant qu'une même syllabe av...,Philosophie,0.970637,Belles-lettres,0.014352,Musique,0.002288
8,1,250000010,A,9,NaN,NaN,"A devant u se prononce comme un o, comme dans ...",Philosophie,0.957363,Belles-lettres,0.023004,Beaux-arts,0.005315
9,1,250000010,A,10,NaN,NaN,A devant y a le meme son que devant i ; il fau...,Philosophie,0.965170,Belles-lettres,0.013834,Musique,0.003758

In [3]:
df.shape

(135004, 13)

In [4]:
# Nombre de définitions (<sense>) par volume
df['volume'].value_counts()

volume
3    26609
2    25844
4    23490
1    23449
5    23129
6    12483
Name: count, dtype: int64

* Fréquences des domaines (15 plus fréquents) :

In [5]:
# créer une colonne avec la valeur normalisée et nettoyé du domaine
df['subordinate_domain_norm'] = df['subordinate_domain'].fillna('')
df['subordinate_domain_norm'] = df['subordinate_domain_norm'].str.lower()
df['subordinate_domain_norm'] = df['subordinate_domain_norm'].str.replace('termes', 'terme')
df['subordinate_domain_norm'] = df['subordinate_domain_norm'].str.replace('terme de ', '')
df['subordinate_domain_norm'] = df['subordinate_domain_norm'].str.replace("terme d'", '')
df['subordinate_domain_norm'] = df['subordinate_domain_norm'].str.replace("de ", '')
df['subordinate_domain_norm'] = df['subordinate_domain_norm'].str.replace("d'", '')

# domaines triés par fréquence
df['subordinate_domain_norm'].value_counts().head(15)

subordinate_domain_norm
                          122717
marine                      1265
médecine                     517
blason                       503
anatomie                     413
fleuriste                    383
palais                       375
coutumes                     361
relation                     308
architecture                 308
chasse                       281
guerre                       249
philosophie hermétique       228
musique                      204
coutume                      199
Name: count, dtype: int64

* Fréquences des domaines prédits (15 plus fréquents) :

In [6]:
df['domainPred1'].value_counts().head(15)

domainPred1
Philosophie            27817
Histoire               17283
Militaire              17280
Géographie             13764
Droit Jurisprudence     7692
Histoire naturelle      6627
Chasse                  6554
Médecine                5871
Agriculture             5339
Métiers                 5024
Commerce                4200
Belles-lettres          4196
Physique                4002
Beaux-arts              3910
Religion                3441
Name: count, dtype: int64

In [7]:
df[df['subordinate_domain_norm'].str.contains('marine')]

,volume,entry,entry_lemma,subordinate,subordinate_lemma,subordinate_domain,content,domainPred1,domainProba1,domainPred2,domainProba2,domainPred3,domainProba3,subordinate_domain_norm
147,1,250000470,ABATÉE,1,NaN,termes de Marine,ABATÉE En termes de Marine se dit du mouvement...,Militaire,0.994217,Géographie,0.000873,Histoire,0.000811,marine
162,1,250000540,ABATTRE,2,Abattre,termes de Marine,"Abattre , en termes de Marine , signifie Déche...",Militaire,0.993519,Histoire,0.001271,Géographie,0.000884,marine
358,1,250001490,ABORDAGE,1,NaN,Terme de marine,"ABORDAGE Terme de marine , qui se dit lorsque ...",Militaire,0.993732,Histoire,0.000977,Géographie,0.000898,marine
361,1,250001500,ABORDER,2,Aborder,termes de marine,"Aborder , signifie aussi, Venir à bord d'un va...",Militaire,0.992709,Géographie,0.001998,Chasse,0.000618,marine
452,1,250001840,ABRI,4,NaN,termes de Marine,On le dit fort souvent en termes de Marine . M...,Militaire,0.994055,Histoire,0.000954,Géographie,0.000793,marine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133535,6,250529520,VOLTE,8,NaN,termes de Marine,"On dit en termes de Marine , Prendre une volte...",Militaire,0.992921,Histoire,0.001275,Géographie,0.001040,marine
133553,6,250529590,VOLTIGLOLE,1,NaN,Terme de Marine,VOLTIGLOLE Terme de Marine . C'est le cordon d...,Militaire,0.992848,Histoire,0.001734,Géographie,0.000969,marine
133667,6,250530300,VOUTE,11,Voute,termes de Marine,"Voute , en termes de Marine , ou voutis d'un v...",Militaire,0.993742,Histoire,0.001381,Géographie,0.000633,marine
133764,6,250530790,URETAU,1,NaN,Terme de Marine,URETAU Terme de Marine . C'est une manoeuvre p...,Militaire,0.992161,Histoire,0.002284,Géographie,0.000613,marine
133968,6,250531720,VÛE,22,NaN,termes de Marine,"On dit en termes de Marine , Vûe par vûe, & co...",Militaire,0.989515,Géographie,0.001974,Histoire,0.001703,marine

In [8]:
df[df['subordinate_domain_norm'].str.contains('géographie')]

,volume,entry,entry_lemma,subordinate,subordinate_lemma,subordinate_domain,content,domainPred1,domainProba1,domainPred2,domainProba2,domainPred3,domainProba3,subordinate_domain_norm
4632,1,250017870,AMPHISCIEN,1,NaN,Terme d'Astronomie & de Géographie,AMPHISCIEN Terme d'Astronomie & de Géographie ...,Géographie,0.971945,Histoire,0.020690,Militaire,0.001116,astronomie & géographie
5516,1,250021620,ANTICHTONE,1,NaN,Terme de Géographie,ANTICHTONE Antichtones. Terme de Géographie . ...,Géographie,0.992117,Histoire,0.004442,Militaire,0.000413,géographie
5652,1,250022130,"ANTISCIEN, ENNE",1,NaN,Terme de Géographie,"ANTISCIEN, ENNE ou ANTOECIEN, enne, adj. Antis...",Géographie,0.996943,Histoire,0.001260,Militaire,0.000214,géographie
5667,1,250022200,ANTOECIENS,1,NaN,Terme de Géographie,ANTOECIENS Antaeci. Terme de Géographie qui es...,Géographie,0.996811,Histoire,0.001285,Histoire naturelle,0.000229,géographie
6948,1,250026360,ARCHEVÊCHÉ,1,NaN,Terme de Géographie,ARCHEVÊCHÉ Terme de Géographie . Archiepiscopa...,Géographie,0.978635,Histoire,0.012922,Militaire,0.001210,géographie
6992,1,250026680,ARCHIPEL,1,NaN,Terme de Géographie,"ARCHIPEL ou ARCHIPELAGE, s. masc. Archipelagus...",Géographie,0.997555,Histoire,0.000808,Militaire,0.000239,géographie
8112,1,250030670,ASCIEN,1,NaN,Terme de Géographie,"ASCIEN Terme de Géographie , & d'Astronomie. N...",Géographie,0.871518,Histoire,0.045222,Physique,0.029328,géographie
9424,1,250035130,AUDIENCE,10,Audience,Terme de Géographie,"Audience , Terme de Géographie , qui se dit en...",Géographie,0.994269,Histoire,0.002781,Histoire naturelle,0.000401,géographie
10062,1,250037020,"AUSTRAL, ALE",1,NaN,Terme de Géographie,"AUSTRAL, ALE Terme de Géographie . Australis, ...",Géographie,0.997589,Histoire,0.000587,Histoire naturelle,0.000250,géographie
10786,1,250039630,BAILLIAGE,5,Bailliage,terme de Géographie,"Bailliage , est aussi un terme de Géographie ,...",Géographie,0.996286,Histoire,0.000507,Histoire naturelle,0.000396,géographie
21690,1,250077920,CHAÎNE,21,NaN,termes de Géographie,En termes de Géographie on appelle chaîne de m...,Géographie,0.996223,Histoire,0.000681,Histoire naturelle,0.000575,géographie
23703,2,250083150,CHERSONÊSE,1,NaN,Terme de Géographie,CHERSONÊSE Terme de Géographie . Prononcez Ker...,Géographie,0.997968,Histoire,0.000423,Militaire,0.000224,géographie
25524,2,250089460,CLIMAT,1,NaN,Terme de Géographie,CLIMAT Terme de Géographie . Espace déterminé ...,Géographie,0.997181,Histoire,0.000473,Histoire naturelle,0.000378,géographie
26194,2,250092100,COLLATÉRAL,1,NaN,Terme de Géographie,COLLATÉRAL Terme de Géographie . Qui est à côt...,Géographie,0.985881,Histoire naturelle,0.003501,Physique,0.001980,géographie
27065,2,250094480,"COMOUCH, CQUE",1,NaN,Terme de Géographie,"COMOUCH, CQUE Terme de Géographie , de relatio...",Géographie,0.995565,Histoire,0.001956,Militaire,0.000290,géographie
27596,2,250095950,CONCEPTION,7,La Conception,terme de Géographie,"La Conception , terme de Géographie , c'est le...",Géographie,0.998583,Histoire,0.000185,Militaire,0.000127,géographie
30470,2,250106420,COUCHANT,1,NaN,Terme de Géographie,COUCHANT Terme de Géographie . Le soleil couch...,Géographie,0.997820,Histoire,0.000340,Militaire,0.000275,géographie
33038,2,250113130,CUL,20,Cul-de-sac Royal,Terme de Géographie,Cul-de-sac Royal . Terme de Géographie . C'est...,Géographie,0.996529,Histoire,0.000569,Militaire,0.000525,géographie
33754,2,250116190,DANEMARCK,6,NaN,Terme de Géographie,La Mer de Danemarck. Terme de Géographie . Mar...,Géographie,0.997791,Histoire,0.000437,Militaire,0.000320,géographie
33755,2,250116190,DANEMARCK,7,NaN,Terme de Géographie,La Manche de Danemarck. Terme de Géographie . ...,Géographie,0.998317,Histoire,0.000238,Militaire,0.000210,géographie
40692,2,250149010,ÉGLISE,19,L'Etat,Terme de Géographie,"L'Etat , ou les Terres de l'Eglise. Terme de G...",Géographie,0.996520,Histoire,0.001425,Militaire,0.000232,géographie
48422,2,250180310,EUROPE,1,NaN,Terme de Géographie,EUROPE Terme de Géographie . Nom propre de l'u...,Géographie,0.998409,Histoire,0.000279,Militaire,0.000153,géographie
51640,3,250190560,FERME,6,NaN,termes de Géographie,"En termes de Géographie , la terre ferme signi...",Géographie,0.996746,Histoire,0.000846,Histoire naturelle,0.000310,géographie
66698,3,250244910,"HÉTÉROSCIEN, ENNE",1,NaN,Terme de Géographie,"HÉTÉROSCIEN, ENNE Terme de Géographie , qui es...",Géographie,0.997887,Histoire,0.000566,Histoire naturelle,0.000167,géographie
66967,3,250245700,HIÉRAC,1,NaN,Terme de Géographie & de Relations,HIÉRAC Terme de Géographie & de Relations . Il...,Géographie,0.988254,Histoire,0.008081,Politique,0.000396,géographie & relations
67878,3,250248980,HORDE,1,NaN,Terme de Géographie,"HORDE Terme de Géographie , qui se dit de ces ...",Géographie,0.851520,Histoire,0.126726,Militaire,0.005714,géographie
70454,3,250259050,JETTER,16,NaN,termes de Géographie,"En termes de Géographie on dit que des terres,...",Géographie,0.995712,Histoire naturelle,0.000699,Histoire,0.000540,géographie
72402,3,250266230,"INFÉRIEUR, EURE",3,Inférieur,terme de Géographie ancienne,"Inférieur , en terme de Géographie ancienne , ...",Géographie,0.994951,Histoire,0.002217,Histoire naturelle,0.000367,géographie ancienne
74604,3,250274540,ISTHME,1,NaN,Terme de Géographie,ISTHME Terme de Géographie . Isthmus. Petite l...,Géographie,0.997792,Histoire,0.000557,Histoire naturelle,0.000199,géographie
77179,4,250287490,LATITUDE,1,NaN,Terme de Géographie,LATITUDE Terme de Géographie . C'est la distan...,Géographie,0.998186,Militaire,0.000240,Histoire,0.000223,géographie
78819,4,250294480,LIGNE,13,Ligne,termes d'Astronomie & de Géographie,"Ligne , en termes d'Astronomie & de Géographie...",Géographie,0.971581,Physique,0.015913,Histoire naturelle,0.002404,astronomie & géographie
78871,4,250294610,LIGUE,1,NaN,Terme d'Histoire & de Géographie,LIGUE Terme d'Histoire & de Géographie ; c'est...,Géographie,0.983349,Histoire,0.010830,Histoire naturelle,0.001320,histoire & géographie
80048,4,250299470,LONGITUDE,1,NaN,Terme de Géographie,LONGITUDE Terme de Géographie . C'est la dista...,Géographie,0.996274,Histoire naturelle,0.000612,Physique,0.000602,géographie
83280,4,250312510,MAPPEMONDE,1,NaN,Terme de Géographie,MAPPEMONDE Terme de Géographie . Universi orbi...,Géographie,0.987472,Histoire naturelle,0.002951,Physique,0.001920,géographie
92633,4,250350390,NUMIDIE,1,NaN,terme de l'ancienne Géographie,"NUMIDIE Nom de pays, & terme de l'ancienne Géo...",Géographie,0.996939,Histoire,0.001365,Militaire,0.000209,l'ancienne géographie
95120,4,250359420,ORIENT,4,Orient,termes de Géographie,"Orient , en termes de Géographie , se prend po...",Géographie,0.995855,Physique,0.000717,Histoire naturelle,0.000584,géographie
96806,4,250367480,PALUS,1,NaN,Terme de Géographie,PALUS Terme de Géographie . Marécage. Il ne se...,Géographie,0.993057,Histoire,0.002087,Histoire naturelle,0.001691,géographie
99051,4,250375570,PATRIMOINE,2,Patrimoine de S. Pierre,Terme de Géographie,Patrimoine de S. Pierre . Terme de Géographie ...,Géographie,0.997494,Histoire,0.000882,Militaire,0.000162,géographie
100168,5,250379800,PENTAPOLE,1,NaN,Terme de Géographie & d'Histoire,PENTAPOLE Terme de Géographie & d'Histoire . C...,Géographie,0.991048,Histoire,0.006125,Belles-lettres,0.000272,géographie & histoire
100460,5,250381180,PÉRIÉCIENS,1,NaN,Terme de Géographie,PÉRIÉCIENS ou PÉRIOECIENS. s. m. Terme de Géog...,Géographie,0.892396,Histoire,0.057452,Philosophie,0.011940,géographie
100877,5,250383060,PERTUIS,6,Pertuis,terme de Géographie,"Pertuis , est aussi un terme de Géographie , q...",Géographie,0.997603,Histoire naturelle,0.000344,Histoire,0.000319,géographie
101124,5,250384220,PÉTRÉE,1,NaN,Terme de Géographie,"PÉTRÉE Terme de Géographie , qui ne se dit qu'...",Géographie,0.995940,Histoire,0.001411,Physique,0.000283,géographie
101641,5,250386970,PIC,1,NaN,Terme de Géographie,"PIC Terme de Géographie , qui se dit en cette ...",Géographie,0.998350,Histoire,0.000260,Militaire,0.000181,géographie
106290,5,250404660,PROJECTION,2,Projection,termes de Géographie & de Perspective,"Projection , en termes de Géographie & de Pers...",Géographie,0.824734,Beaux-arts,0.060061,Physique,0.049732,géographie & perspective
106359,5,250404960,PROMONTOIRE,1,NaN,Terme de Géographie,PROMONTOIRE Terme de Géographie . C'est une po...,Géographie,0.996281,Militaire,0.000624,Histoire,0.000473,géographie
107467,5,250410160,QUARTE,8,Quarte,Terme de Géographie & d'Astronomie,Quarte . Terme de Géographie & d'Astronomie . ...,Géographie,0.953966,Physique,0.021684,Histoire naturelle,0.005416,géographie & astronomie
124490,6,250491970,TERRE,5,Terre,termes de Géographie,"Terre , en termes de Géographie . On entend so...",Géographie,0.997373,Histoire naturelle,0.000378,Histoire,0.000330,géographie
124491,6,250491970,TERRE,6,Terre-ferme,Terme de Géographie,"Terre-ferme . Terme de Géographie , ou de Rela...",Géographie,0.994089,Histoire,0.001328,Physique,0.000614,géographie
127581,6,250504830,TRANSOXANE,1,NaN,Terme de Géographie,TRANSOXANE Terme de Géographie . La province T...,Géographie,0.997898,Histoire,0.000628,Militaire,0.000164,géographie
132986,6,250527850,"ULTÉRIEUR, EURE",1,NaN,Terme de Géographie,"ULTÉRIEUR, EURE Terme de Géographie . Ulterior...",Géographie,0.996786,Histoire,0.000995,Militaire,0.000301,géographie
134923,6,250539090,ZÔNE,1,NaN,Terme de Géographie & d'Astronomie,ZÔNE Terme de Géographie & d'Astronomie . Zona...,Géographie,0.982948,Physique,0.006363,Histoire naturelle,0.002462,géographie & astronomie

In [9]:
df[df['domainPred1'] == 'Géographie']

,volume,entry,entry_lemma,subordinate,subordinate_lemma,subordinate_domain,content,domainPred1,domainProba1,domainPred2,domainProba2,domainPred3,domainProba3,subordinate_domain_norm
40,1,250000010,A,41,NaN,NaN,A A. C'est le nom de plusieurs petites rivière...,Géographie,0.997561,Physique,0.000400,Histoire naturelle,0.000260,
42,1,250000010,A,43,NaN,NaN,"A subst. Nom d'une petite rivière de France, q...",Géographie,0.993799,Histoire naturelle,0.001533,Physique,0.000901,
43,1,250000010,A,44,NaN,NaN,A A. subst. C'est le nom de plusieurs rivières...,Géographie,0.996168,Physique,0.000783,Militaire,0.000432,
44,1,250000010,A,45,NaN,NaN,"A A, ou A A S. subst. autrement fontaine des A...",Géographie,0.996630,Histoire,0.000764,Militaire,0.000401,
45,1,250000020,AAHUS,1,NaN,NaN,AAHUS Aahusium. Ville de l'Evéché de Munster. ...,Géographie,0.998550,Histoire,0.000222,Militaire,0.000127,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134996,6,250539580,ZYGETH,2,NaN,NaN,Le Comté de Zygeth. Sigetensis Comitatus. C'es...,Géographie,0.998503,Histoire,0.000315,Militaire,0.000118,
134997,6,250539580,ZYGETH,3,Zygeth,NaN,"Zygeth , est aussi un village de la Haute-Hong...",Géographie,0.998595,Histoire,0.000214,Militaire,0.000113,
135001,6,250539610,ZYP,1,NaN,NaN,ZYP C'étoit autrefois un grand marais de la No...,Géographie,0.995284,Histoire,0.002626,Militaire,0.000259,
135002,6,250539620,ZYTHI,1,NaN,NaN,ZYTHI Voyez Zuthi.,Géographie,0.741486,Histoire,0.107291,Histoire naturelle,0.082979,
135003,6,250539630,ZYTOMIERS,1,NaN,NaN,ZYTOMIERS Nom propre d'une ville de la Russie ...,Géographie,0.998575,Histoire,0.000230,Militaire,0.000124,

In [10]:
print("Nombre d'articles classés 'Géographie' par les auteurs :", len(df[df['subordinate_domain_norm'].str.contains('géographie')]))
print("Nombre d'articles classés 'Géographie' par le modèle GEODE :", len(df[df['domainPred1'] == 'Géographie']))

Nombre d'articles classés 'Géographie' par les auteurs : 51
Nombre d'articles classés 'Géographie' par le modèle GEODE : 13764

In [11]:
df_geo = df[df['domainPred1'] == 'Géographie']
df_geo.drop(columns=['domainPred2', 'domainPred3', 'domainProba1', 'domainProba2', 'domainProba3'], inplace=True)
df_geo.rename(columns={'domainPred1': 'subordinate_domain_predicted'}, inplace=True)

df_geo.head()

/var/folders/qm/v_b1md29221_cnpcxf5qc43c0000gn/T/ipykernel_95778/4005130193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_geo.drop(columns=['domainPred2', 'domainPred3', 'domainProba1', 'domainProba2', 'domainProba3'], inplace=True)
/var/folders/qm/v_b1md29221_cnpcxf5qc43c0000gn/T/ipykernel_95778/4005130193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_geo.rename(columns={'domainPred1': 'subordinate_domain_predicted'}, inplace=True)

,volume,entry,entry_lemma,subordinate,subordinate_lemma,subordinate_domain,content,subordinate_domain_predicted,subordinate_domain_norm
40,1,250000010,A,41,NaN,NaN,A A. C'est le nom de plusieurs petites rivière...,Géographie,
42,1,250000010,A,43,NaN,NaN,"A subst. Nom d'une petite rivière de France, q...",Géographie,
43,1,250000010,A,44,NaN,NaN,A A. subst. C'est le nom de plusieurs rivières...,Géographie,
44,1,250000010,A,45,NaN,NaN,"A A, ou A A S. subst. autrement fontaine des A...",Géographie,
45,1,250000020,AAHUS,1,NaN,NaN,AAHUS Aahusium. Ville de l'Evéché de Munster. ...,Géographie,

In [12]:
df_geo.to_csv(os.path.join('..', 'data', '1743_LeRobert', 'Trevoux1743_Geographie.tsv'), sep='\t', index=False)