# Convert TSV dataset to TEI article files (compatible with PhiloLogic)

In [37]:
import os
import pandas as pd

In [38]:
df1 = pd.read_csv(os.path.join('..', 'data', '1743_LeRobert', 'Trevoux1743_html_macro_pred_260213.tsv'), sep='\t', encoding='utf-8')
df1

,book,volume,numero,head,subEntryId,type,srcDomain,text,html,macroDomain,predDomain
0,DUFLT_1743,1,1,A,1,mainEntry,NaN,Aest la première Lettre de l'Alphabet François...,A est la première Lettre de l'Alphabet Françoi...,NaN,Grammaire
1,DUFLT_1743,1,2,AAHUS,1,mainEntry,NaN,"AAHUS , s.Aahusium. Ville de l'Evéché de Munst...","AAHUS , s. <i>Aahusium.</i> Ville de l'Evéché ...",NaN,Géographie
2,DUFLT_1743,1,3,AAR,1,mainEntry,NaN,"AAR ,ou AHR. subst. Aara, Abrinca. Rivière d'A...","AAR , ou AHR. subst. <i>Aara, Abrinca.</i> Riv...",NaN,Géographie
3,DUFLT_1743,1,4,AAR,1,mainEntry,NaN,"AAR ,Arula ou Arola, & non pas Arosa, comme on...","AAR , Arula ou Arola, & non pas <i>Arosa,</i> ...",NaN,Géographie
4,DUFLT_1743,1,5,AARBRER,1,mainEntry,NaN,"AARBRER ,Terme ancien qui n'est pas aujourd'hu...","AARBRER , Terme ancien qui n'est pas aujourd'h...",NaN,Grammaire
...,...,...,...,...,...,...,...,...,...,...,...
83408,DUFLT_1743,6,5582,ZYGÔME,1,mainEntry,medecine & d'anatomie,ZYGÔME . s. m.Terme de Médecine & d'Anatomie ....,ZYGÔME . s. m. Terme de Médecine & d'Anatomie ...,Médecine,NaN
83409,DUFLT_1743,6,5583,ZYMOSIMÈTRE,1,mainEntry,NaN,"ZYMOSIMÈTRE ,est un instrument proposé par Swa...","ZYMOSIMÈTRE , est un instrument proposé par Sw...",NaN,NaN
83410,DUFLT_1743,6,5584,ZYP,1,mainEntry,NaN,ZYP . s. f.C'étoit autrefois un grand marais d...,ZYP . s. f. C'étoit autrefois un grand marais ...,NaN,NaN
83411,DUFLT_1743,6,5585,ZYTHI,1,mainEntry,NaN,ZYTHI .Voyez Zuthi.\n\n,ZYTHI . Voyez Zuthi.</p><p>,NaN,NaN
83412,DUFLT_1743,6,5586,ZYTOMIERS,1,mainEntry,NaN,ZYTOMIERS . s. m.Nom propre d'une ville de la ...,ZYTOMIERS . s. m. Nom propre d'une ville de la...,NaN,NaN

In [39]:
df = pd.read_csv(os.path.join('..', 'data', '1743_LeRobert', 'Trevoux1743_html_260225.tsv'), sep='\t', encoding='utf-8')
df['srcDomain'] = df1['srcDomain']
df['macroDomain'] = df1['macroDomain']
df['predDomain'] = df1['predDomain']
df

,book,volume,numero,head,subEntryId,type,srcDomain,text,html,macroDomain,predDomain
0,DUFLT_1743,1,1,A,1,mainEntry,NaN,Aest la première Lettre de l'Alphabet François...,A est la première Lettre de l'Alphabet Françoi...,NaN,Grammaire
1,DUFLT_1743,1,2,AAHUS,1,mainEntry,NaN,"AAHUS , s.Aahusium. Ville de l'Evéché de Munst...","AAHUS , s. <i>Aahusium.</i> Ville de l'Evéché ...",NaN,Géographie
2,DUFLT_1743,1,3,AAR,1,mainEntry,NaN,"AAR ,ou AHR. subst. Aara, Abrinca. Rivière d'A...","AAR , ou AHR. subst. <i>Aara, Abrinca.</i> Riv...",NaN,Géographie
3,DUFLT_1743,1,4,AAR,1,mainEntry,NaN,"AAR ,Arula ou Arola, & non pas Arosa, comme on...","AAR , Arula ou Arola, & non pas <i>Arosa,</i> ...",NaN,Géographie
4,DUFLT_1743,1,5,AARBRER,1,mainEntry,NaN,"AARBRER ,Terme ancien qui n'est pas aujourd'hu...","AARBRER , Terme ancien qui n'est pas aujourd'h...",NaN,Grammaire
...,...,...,...,...,...,...,...,...,...,...,...
83408,DUFLT_1743,6,5582,ZYGÔME,1,mainEntry,medecine & d'anatomie,ZYGÔME . s. m.Terme de Médecine & d'Anatomie ....,ZYGÔME . s. m. Terme de Médecine & d'Anatomie ...,Médecine,NaN
83409,DUFLT_1743,6,5583,ZYMOSIMÈTRE,1,mainEntry,NaN,"ZYMOSIMÈTRE ,est un instrument proposé par Swa...","ZYMOSIMÈTRE , est un instrument proposé par Sw...",NaN,NaN
83410,DUFLT_1743,6,5584,ZYP,1,mainEntry,NaN,ZYP . s. f.C'étoit autrefois un grand marais d...,ZYP . s. f. C'étoit autrefois un grand marais ...,NaN,NaN
83411,DUFLT_1743,6,5585,ZYTHI,1,mainEntry,NaN,ZYTHI .Voyez Zuthi.\n\n,ZYTHI . Voyez Zuthi.</p><p>,NaN,NaN
83412,DUFLT_1743,6,5586,ZYTOMIERS,1,mainEntry,NaN,ZYTOMIERS . s. m.Nom propre d'une ville de la ...,ZYTOMIERS . s. m. Nom propre d'une ville de la...,NaN,NaN

In [40]:
df_sample = df

In [41]:
# get rows where html column contains <pb n="2"/>
df_sample[df_sample['html'].str.contains(r'<pb')]

,book,volume,numero,head,subEntryId,type,srcDomain,text,html,macroDomain,predDomain
0,DUFLT_1743,1,1,A,1,mainEntry,NaN,Aest la première Lettre de l'Alphabet François...,A est la première Lettre de l'Alphabet Françoi...,NaN,Grammaire
3,DUFLT_1743,1,4,AAR,1,mainEntry,NaN,"AAR ,Arula ou Arola, & non pas Arosa, comme on...","AAR , Arula ou Arola, & non pas <i>Arosa,</i> ...",NaN,Géographie
15,DUFLT_1743,1,15,ABADIR,1,mainEntry,mythologie,"ABADIR ,ou ABADDIR ; car Priscien, qui nous a ...","ABADIR , ou ABADDIR ; car Priscien, qui nous a...",Antiquité,Antiquité
33,DUFLT_1743,1,24,ABANA,1,mainEntry,NaN,"ABANA , s. f.Abana. 4° Reg. v. 12. Riviere de ...","ABANA , s. f. <i>Abana.</i> 4° <i>Reg.</i> v. ...",NaN,Géographie
45,DUFLT_1743,1,27,ABANDONNER,8,relatedEntry,NaN,"ABANDONNER , verb. act.On dit aussi Abandonne ...","Abandonné, ée . part. pass. & adject. <i>Derel...",NaN,Grammaire
...,...,...,...,...,...,...,...,...,...,...,...
83285,DUFLT_1743,6,5463,"ZEST, ZESTE",3,relatedEntry,NaN,"ZEST, ZESTE . s. m.Zest , est aussi un petit m...","Zest , est aussi un petit morceau de pelure d'...",NaN,NaN
83339,DUFLT_1743,6,5514,"ZOARA, ZOARAT",1,mainEntry,NaN,"ZOARA, ZOARAT . s. m.Nom propre d'une ville de...","ZOARA, ZOARAT . s. m. Nom propre d'une ville d...",NaN,NaN
83357,DUFLT_1743,6,5532,ZÔNE,1,mainEntry,geographie & d'astronomie,ZÔNE . s. f.Terme de Géographie & d'Astronomie...,ZÔNE . s. f. Terme de Géographie & d'Astronomi...,NaN,NaN
83374,DUFLT_1743,6,5549,ZUENZIGA,1,mainEntry,NaN,ZUENZIGA . s. m.Nom propre de Royaume. Zuenzig...,ZUENZIGA . s. m. Nom propre de Royaume. <i>Zue...,NaN,NaN
83393,DUFLT_1743,6,5568,ZURICH,1,mainEntry,NaN,ZURICH . s. m.Nom propre d'une ville de la Sui...,ZURICH . s. m. Nom propre d'une ville de la Su...,NaN,NaN

In [42]:
df_sample

,book,volume,numero,head,subEntryId,type,srcDomain,text,html,macroDomain,predDomain
0,DUFLT_1743,1,1,A,1,mainEntry,NaN,Aest la première Lettre de l'Alphabet François...,A est la première Lettre de l'Alphabet Françoi...,NaN,Grammaire
1,DUFLT_1743,1,2,AAHUS,1,mainEntry,NaN,"AAHUS , s.Aahusium. Ville de l'Evéché de Munst...","AAHUS , s. <i>Aahusium.</i> Ville de l'Evéché ...",NaN,Géographie
2,DUFLT_1743,1,3,AAR,1,mainEntry,NaN,"AAR ,ou AHR. subst. Aara, Abrinca. Rivière d'A...","AAR , ou AHR. subst. <i>Aara, Abrinca.</i> Riv...",NaN,Géographie
3,DUFLT_1743,1,4,AAR,1,mainEntry,NaN,"AAR ,Arula ou Arola, & non pas Arosa, comme on...","AAR , Arula ou Arola, & non pas <i>Arosa,</i> ...",NaN,Géographie
4,DUFLT_1743,1,5,AARBRER,1,mainEntry,NaN,"AARBRER ,Terme ancien qui n'est pas aujourd'hu...","AARBRER , Terme ancien qui n'est pas aujourd'h...",NaN,Grammaire
...,...,...,...,...,...,...,...,...,...,...,...
83408,DUFLT_1743,6,5582,ZYGÔME,1,mainEntry,medecine & d'anatomie,ZYGÔME . s. m.Terme de Médecine & d'Anatomie ....,ZYGÔME . s. m. Terme de Médecine & d'Anatomie ...,Médecine,NaN
83409,DUFLT_1743,6,5583,ZYMOSIMÈTRE,1,mainEntry,NaN,"ZYMOSIMÈTRE ,est un instrument proposé par Swa...","ZYMOSIMÈTRE , est un instrument proposé par Sw...",NaN,NaN
83410,DUFLT_1743,6,5584,ZYP,1,mainEntry,NaN,ZYP . s. f.C'étoit autrefois un grand marais d...,ZYP . s. f. C'étoit autrefois un grand marais ...,NaN,NaN
83411,DUFLT_1743,6,5585,ZYTHI,1,mainEntry,NaN,ZYTHI .Voyez Zuthi.\n\n,ZYTHI . Voyez Zuthi.</p><p>,NaN,NaN
83412,DUFLT_1743,6,5586,ZYTOMIERS,1,mainEntry,NaN,ZYTOMIERS . s. m.Nom propre d'une ville de la ...,ZYTOMIERS . s. m. Nom propre d'une ville de la...,NaN,NaN

In [43]:
df_sample.sort_values(by=['volume', 'numero', 'subEntryId'], inplace=True)

In [44]:
dom = sorted(list(df_sample[~df_sample.macroDomain.isna()].macroDomain.unique()))
len(dom)

39

In [45]:


# turn dom into a dictionary  {"label": "Antiquité", "value": "Antiquité"}, {"label": "Droit Jurisprudence", "value": "Droit Jurisprudence"},
dom_dict = [{"label":d , "value":d} for d in dom]
dom_dict

[{'label': 'Agriculture - Économie rustique',
  'value': 'Agriculture - Économie rustique'},
 {'label': 'Anatomie', 'value': 'Anatomie'},
 {'label': 'Antiquité', 'value': 'Antiquité'},
 {'label': 'Architecture', 'value': 'Architecture'},
 {'label': 'Arts mécaniques - Manufactures',
  'value': 'Arts mécaniques - Manufactures'},
 {'label': 'Beaux-arts', 'value': 'Beaux-arts'},
 {'label': 'Belles-lettres', 'value': 'Belles-lettres'},
 {'label': 'Blason', 'value': 'Blason'},
 {'label': 'Chasse-pêche', 'value': 'Chasse-pêche'},
 {'label': 'Chimie', 'value': 'Chimie'},
 {'label': 'Commerce', 'value': 'Commerce'},
 {'label': 'Droit Jurisprudence', 'value': 'Droit Jurisprudence'},
 {'label': 'Grammaire', 'value': 'Grammaire'},
 {'label': 'Géographie', 'value': 'Géographie'},
 {'label': 'Histoire', 'value': 'Histoire'},
 {'label': 'Histoire naturelle', 'value': 'Histoire naturelle'},
 {'label': 'Jeu', 'value': 'Jeu'},
 {'label': 'Marine', 'value': 'Marine'},
 {'label': 'Maréchalerie - Manège', 'value': 'Maréchalerie - Manège'},
 {'label': 'Mathématiques', 'value': 'Mathématiques'},
 {'label': 'Mesure', 'value': 'Mesure'},
 {'label': 'Militaire', 'value': 'Militaire'},
 {'label': 'Monnaie', 'value': 'Monnaie'},
 {'label': 'Musique', 'value': 'Musique'},
 {'label': 'Médailles', 'value': 'Médailles'},
 {'label': 'Médecine', 'value': 'Médecine'},
 {'label': 'Métiers [alimentation]', 'value': 'Métiers [alimentation]'},
 {'label': 'Métiers [autres]', 'value': 'Métiers [autres]'},
 {'label': 'Métiers [bois]', 'value': 'Métiers [bois]'},
 {'label': 'Métiers [cuir, peaux]', 'value': 'Métiers [cuir, peaux]'},
 {'label': 'Métiers [métal, minéral, dérivés]',
  'value': 'Métiers [métal, minéral, dérivés]'},
 {'label': 'Métiers [papier]', 'value': 'Métiers [papier]'},
 {'label': 'Métiers [tissu, habit]', 'value': 'Métiers [tissu, habit]'},
 {'label': 'Pharmacie', 'value': 'Pharmacie'},
 {'label': 'Philosophie', 'value': 'Philosophie'},
 {'label': 'Religion', 'value': 'Religion'},
 {'label': 'Sciences physico-mathématiques',
  'value': 'Sciences physico-mathématiques'},
 {'label': 'Superstition', 'value': 'Superstition'},
 {'label': 'Voyage', 'value': 'Voyage'}]

## File per volume

In [47]:
import os
import re
import pandas as pd

def escape_selective(text):
    # On cherche soit une balise, soit un caractère spécial
    pattern = r'(<[^>]+>)|([&<>])'
    
    def subst(match):
        balise = match.group(1)
        char = match.group(2)
        
        if balise: return balise # On rend la balise telle quelle
        if char == '&': return '&amp;'
        if char == '<': return '&lt;'
        if char == '>': return '&gt;'
        
    return re.sub(pattern, subst, text)

volume_gallica = {1: 'bpt6k8542165', 2: 'bpt6k1506801d', 3: 'bpt6k15068000', 4: 'bpt6k15068037', 5: 'bpt6k1913247n', 6: 'bpt6k1506802t'}
page_gallica = {1: '40', 2: '12', 3: '12', 4: '12', 5: '12', 6: '12'}

# 1. Fonction pour générer uniquement le bloc XML d'une entrée
def get_entry_xml(entry, id, volume, head, src_domain,  text, macro_domain, pred_domain):
    #TODO : probleme du replace pour les balises <i> ou <br> qui sont aussi remplacées. A revoir.
    #text = text.replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;')  # Échapper les caractères spéciaux
    text = escape_selective(text)

    text = text.replace('&amp;#9758;', '&#9758;') # manicule
    
    # replace newlines with <br/> for better formatting in XML
    text = text.replace('\n\n', '<br/>')
    text = text.replace('\n', '<br/>')
    
    manicule = True if '&#9758;' in text else False
       
    # add url for "voyez" 
    #"Voyez" followed by one word and a dot. Ex: Voyez ACCARER. devient Voyez <a href="http://trevoux.huma-num.fr/philologic/DUFLT/bibliography?&head=ACCARER">ACCARER</a>
    text = re.sub(r'Voyez\s+(\w+)\.', r'Voyez <ref type="search" target="head:\1">\1</ref>.', text)

    # turn <pb n="2"/> into <pb n="2" facs="bpt6k8542165/f42"/>
    #text = re.sub(r'<pb n="(\d+)"\s*/>', r'<pb n="\1" facs="' + volume_gallica[volume] + '/f'+page_gallica[volume]+\1+'"/>', text)
    text = re.sub(
        r'<pb n="(\d+)"\s*/>',
        lambda m: f'<pb n="{m.group(1)}" facs="{volume_gallica[volume]}/f{int(page_gallica[volume]) + int(m.group(1))}/full/1200,/0/native.jpg"/>',
        text
    )

    return f'''
<div vol="{volume}" n="{entry}" id="{id}" type="{src_domain}">
   <index type="head" value="{head}" />
   <index type="src_domain" value="{src_domain}" />
   <index type="macro_domain" value="{macro_domain}" />
   <index type="pred_domain" value="{pred_domain}" />
   <index type="manicule" value="{str(manicule).lower()}" />
    <head>{head}</head>
    <p>
    {text}
    </p>
</div>'''

# 2. Fonction pour générer l'enveloppe globale du volume
def get_volume_xml(book, volume, body_content):
    return f'''<TEI xmlns="http://www.tei-c.org/ns/1.0">
<teiHeader>
   <fileDesc>
      <titleStmt>
         <title>Volume {volume}</title>
      </titleStmt>
      <publicationStmt>
         <distributor>
            <name></name>
         </distributor>
      </publicationStmt>
      <sourceDesc>
         <bibl>
            <creation>
                  <date>{book}</date>
            </creation>
         </bibl>
      </sourceDesc>
   </fileDesc>
</teiHeader>
<text>
<body>
{body_content}
</body>
</text>
</TEI>
'''

# Chemin de sortie (à adapter si nécessaire)
output_dir = os.path.join('..', 'data', '1743_LeRobert', 'Philologic', 'DUFLT')
os.makedirs(output_dir, exist_ok=True) # Crée le dossier s'il n'existe pas

# 3. Boucle principale groupée par volume
# On suppose que votre DataFrame s'appelle 'df_sample'
# On groupe les données par la colonne 'volume'
for volume_name, group_df in df_sample.groupby('volume'):
    
    entries_xml_list = []
    
    # On récupère la date (book) de la première entrée du volume pour le Header
    # (On suppose que la date est la même pour tout le volume)
    current_book_date = group_df.iloc[0]['book']
    
    # On itère sur chaque entrée DANS ce volume spécifique
    for index, row in group_df.iterrows():
        duflt_domain = row['srcDomain'] if pd.notnull(row['srcDomain']) else ''
        macro_domain = row['macroDomain'] if pd.notnull(row['macroDomain']) else ''
        pred_domain = row['predDomain'] if pd.notnull(row['predDomain']) else ''
        
        # On génère le petit bloc div pour cette entrée
        entry_block = get_entry_xml(
            row['numero'], 
            row['subEntryId'],
            row['volume'], 
            row['head'], 
            duflt_domain, 
            row['html'],
            macro_domain,
            pred_domain
        )
        entries_xml_list.append(entry_block)

    # On joint toutes les entrées en une seule chaîne de caractères
    full_body_content = "\n".join(entries_xml_list)
    
    # On insère ce contenu dans l'enveloppe du volume
    final_tei_xml = get_volume_xml(current_book_date, volume_name, full_body_content)

    # 4. Écriture du fichier (Nommé par volume cette fois)
    # Nettoyage simple du nom de fichier pour éviter les caractères spéciaux si nécessaire
    #safe_vol_name = str(volume_name).replace(" ", "_")
    output_filename = f"volume_{volume_name}.xml"
    
    output_path = os.path.join(output_dir, output_filename)
    
    with open(output_path, 'w', encoding='utf-8') as f:
        f.write(final_tei_xml)

    print(f"Fichier généré : {output_filename} ({len(group_df)} entrées)")

Fichier généré : volume_1.xml (13337 entrées)
Fichier généré : volume_2.xml (16155 entrées)
Fichier généré : volume_3.xml (14457 entrées)
Fichier généré : volume_4.xml (14439 entrées)
Fichier généré : volume_5.xml (16761 entrées)
Fichier généré : volume_6.xml (8264 entrées)